<div ng-controller="ChatOneController as ctrl">
  <div id="username-page" ng-if="ctrl.showUserNamePage">
    <div class="username-page-container">
      <h1 class="title">Type your username</h1>
      <form id="usernameForm" name="usernameForm" ng-submit="ctrl.connect()">
        <div class="form-group">
          <input type="text" ng-model="ctrl.username" id="name" placeholder="Username" autocomplete="off" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="accent username-submit">
            Start Chatting
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="chat-page" ng-if="!ctrl.showUserNamePage">
    <div class="chat-container">
      <div class="chat-header">
        <h2>Spring WebSocket Chat Demo</h2>
      </div>
      <div class="connecting" ng-if="ctrl.connectingMSG">Connecting...</div>

      <div class="chat-box">
        <div class="people-list">
          <div class="connecting" ng-if="!ctrl.connectingMSG">
            <div class="listOfPeople" ng-repeat="people in ctrl.lisOfPeople">{{people}}</div>
          </div>
        </div>
        <div class="mssg-list">
          <ul id="messageArea">
              <div class="chat-bubble-container" ng-controller="ChatOneController as ctrl">
                  <div class="chat-bubble" ng-class="{'right-side': message.isSender}" ng-repeat="message in ctrl.messages">
                    <p>
                        {{message.message}}
                    </p>
                    <span class="chat-bubble-user">{{message.user}}</span>
                    <span class="chat-bubble-user time">{{message.time}}</span>
                  </div>
              </div>
          </ul>
          
          <form id="messageForm" name="messageForm" ng-submit="ctrl.sendMessage()" nameForm="messageForm">
            <div class="form-group">
              <div class="input-group clearfix">
                <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" />
                <button type="submit" class="primary">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>